# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.DS_Store

# others
node_modules/
*.DS_Store
.vscode/
package-lock.json
release-builds

#Backend
/backend/node_modules
/backend/package-lock.json
/backend/release-builds

#Frontend
/frontend/node_modules
/frontend/package-lock.json
/frontend/release-builds

