<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Automation</title>

    <!-- Line before Jquery  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/animate.css">
    <link rel="stylesheet" href="public/css/fontawesome.css">

    <!-- JS Files -->
    <script src="public/js/jq-bs-bundle.js"></script>
    <script src="public/js/interact.js"></script>
    <script>
        var g_menuTabSelected = "";
    </script>
</head>
    <body>
        <div id="wrapper">
            <%- include("menu") %>
            <div id="mainContent">
                <div class="bg-dark-light rounded-15 w-100 h-100">
                    <div class="tab-content m-0 p-0 h-100 position-relative" id="v-pills-tabContent">
                        <div class="tab-pane h-100 p-3 fade show active" id="v-pills-myu" role="tabpanel" aria-labelledby="v-pills-myu-tab">
                            <h2 class="fw-bold mb-0">Model Year Updates</h2>
                            <hr>
                            <div class="mx-0 px-0 ">
                                <div class="w-100 px-3 ">
                                    <div class="d-flex justify-content-start px-3 ">
                                        <h3 class="me-4">Models</h3>
                                        <div class="input-group mb-3 w-50">
                                            <span class="input-group-text bg-dark border-0" id="icon-addon1"><img src="public/img/bmw.svg" width="20px"></span>
                                            <input type="text" class="form-control bg-dark border-0" placeholder="Search by name..." 
                                            aria-label="Search by name..." aria-describedby="icon-addon1" id="searchModel">
                                        </div>
                                    </div>
                                    <div class="position-relative">
                                        <div class="d-flex justify-content-start p-3" id="modelsScrollHorizontal" style="overflow-x: auto;">
                                            <!--- 
                                                <div class="d-flex align-items-center flex-column me-4" role="button">
                                                <img src="" width="142px">
                                                <h3>${element.name}</h3>
                                            </div>
                                                -->
                                        </div>
                                        <div class="position-absolute w-100 h-100 modelsAfterSelectedP" style="display: none;">
                                            <div class="bg-modelSelect">
                                                <div class="bg-dark" id="modelsAfterSelected"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4>URLs</h4>
                                    <div id="authorURLs" class="d-flex flex-column pt-2" style="overflow-y: auto; height: calc(100vh - 380px);">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-maco" role="tabpanel" aria-labelledby="v-pills-maco-tab">
                            <%- include("offers") %>
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-cosy" role="tabpanel" aria-labelledby="v-pills-cosy-tab">
                            
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-templates" role="tabpanel" aria-labelledby="v-pills-templates-tab">
                            
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-mytickets" role="tabpanel" aria-labelledby="v-pills-mytickets-tab">
                            <%- include("mytickets") %>
                        </div>
                        <div class="tab-pane h-100 p-3 fade" id="v-pills-myconfig" role="tabpanel" aria-labelledby="v-pills-myconfig-tab">
                            <h2 class="fw-bold mb-0">Settings</h2>
                            <hr>
                            <div class="d-flex">
                                <div class="col-md-6 border-end pe-3">
                                    <h4>Jira Settings</h4>
                                    <p class="small text-light">This settings are optional</p>
                                    <div class="mb-3">
                                        <label for="emailJira" class="form-label">Jira Email</label>
                                        <input type="email" class="form-control bg-dark border-0" id="emailJira" placeholder="Email...">
                                    </div>
                                    <div class="mb-3">
                                        <label for="jiraToken" class="form-label">Jira Token</label>
                                        <input type="password" class="form-control bg-dark border-0" id="jiraToken" placeholder="Token...">
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="setConfigJsonJira()" id="validateButton">
                                        <i class="fas " id="validateButtonIcon"></i> <span>Save</span></button>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="public/js/electron-f.js"></script>
        <script src="public/js/clipboard.min.js"></script>
        <script src="public/js/logic.js"></script>
        <script src="public/js/auth.js" ></script>
        <script src="public/js/bringModels.js"></script>
        <script src="public/js/db.js"></script>
        <script src="public/js/macos.js"></script>
        <script>if (window.module) module = window.module;</script>
    </body>
</html>