<div class="" id="menuTabs">
    <div id="logo" class="d-flex justify-content-start">
        <img src="public/img/logo.svg" alt="">
        <div class="d-flex flex-column pt-1 ps-2">
            <h4 class="fw-bold text-white mb-0">Content Automation</h4>
            <small class="text-light mt-1">BMW</small>
        </div>
    </div>
    <hr>
    <p class="text-light m-0 fst-italic fw-light small">Tasks</p>
    <div class="d-flex flex-column px-2">
        <div class="me-3">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-myu-tab" data-bs-toggle="pill" data-bs-target="#v-pills-myu"
                    type="button" role="tab" aria-controls="v-pills-myu" aria-selected="true">
                    <i class="fas fa-redo-alt pe-2"></i> Model Year Updates
                </button>
                <button class="nav-link" id="v-pills-maco-tab" data-bs-toggle="pill" data-bs-target="#v-pills-maco"
                    type="button" role="tab" aria-controls="v-pills-maco" aria-selected="false">
                    <i class="fas fa-hashtag pe-2"></i> Offers
                </button>
                <button class="nav-link" id="v-pills-cosy-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cosy"
                    type="button" role="tab" aria-controls="v-pills-cosy" aria-selected="false">
                    <i class="fas fa-image pe-2"></i> CoSy Images
                </button>
                <button class="nav-link" id="v-pills-templates-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-templates" type="button" role="tab" aria-controls="v-pills-templates"
                    aria-selected="false">
                    <i class="fas fa-th-large pe-2"></i> Templates
                </button>
                <hr>
                <p class="text-light m-0 fst-italic fw-light small">Personal</p>
                <button class="nav-link " id="v-pills-mytickets-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-mytickets" type="button" role="tab" aria-controls="v-pills-mytickets"
                    aria-selected="true">
                    <i class="fab fa-jira pe-2"></i> My Tickets
                </button>
                <button class="nav-link " id="v-pills-myconfig-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-myconfig" type="button" role="tab" aria-controls="v-pills-myconfig"
                    aria-selected="true">
                    <i class="fas fa-cog pe-2"></i> Settings
                </button>
            </div>
        </div>
    </div>
</div>