<h2 class="fw-bold mb-0">My tickets</h2>
<hr>
<div class="row mx-0">
    <h4 class="mb-0">Deployments</h4>
</div>
<hr>
<div class="row row-cols-md-5 g-1">
    <div class="col">
        <div class="card text-center text-white bg-dark shadow-lg">
            <div class="card-header">
                <h5 class="fw-bold">Deployment</h5>
            </div>
            <div class="card-body">
                <img src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=22XO&client=byo&paint=P0300&fabric=FK8SW&sa=S01CE,S01SB,S0255,S02TB,S0302,S0319,S03AT,S03MB,S0402,S0420
                ,S0423,S0459,S0481,S0494,S04AW,S04KR,S04T8,S04UR,S0552,S05A1,S05AC,S05AS,S0676,S06AC,S06AK,S06C4,S06U3,S0775,S07HW&quality=hight&bkgnd=transparent&resp=png&angle=60&width=450" width="100%" srcset="">
                <p class="card-text">MYU22 X5</p>
            </div>
            <div class="card-footer text-muted">
                4 Workflows related
            </div>
        </div>
    </div>
</div>