<h2 class="fw-bold mb-0">Settings</h2>
<hr>
<div class="p-2" style="height: calc(100vh - 140px);overflow-y: auto;">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="pb-2">Jira</h4>
        <button type="button" class="btn btn-primary btn-sm rounded-15" data-bs-toggle="modal" data-bs-target="#jiratokenmodal">
            <i class="fas fa-question-circle"></i> Get Jira Token
        </button>
    </div>
    <div class="mb-3">
        <label for="emailJira" class="form-label text-light small mb-1">Email</label>
        <input type="email" class="form-control bg-dark border-0" id="emailJira" placeholder="Email...">
        <small>Your Jira email</small>
    </div>
    <div class="mb-3">
        <label for="jiraToken" class="form-label text-light small mb-1">Token</label>
        <input type="password" class="form-control bg-dark border-0" id="jiraToken" placeholder="Token...">
    </div>
    <button type="button" class="btn btn-primary" onclick="setConfigJsonJira()" id="validateButton">
        <i class="fas " id="validateButtonIcon"></i><span>Save</span>
    </button>
    <div class="py-2">
        <hr>
    </div>
    <h4 class="pb-2">In-App</h4>
    <div class="mb-3">
        <label for="cosyYear" class="form-label text-light small mb-1">CoSy Year</label>
        <select class="form-select bg-dark border-0" aria-label="cosyYear" onchange="setCondigJsonCosyYear(this)" id="cosyYear">
            
        </select>
    </div>
    <div class="py-2">
        <hr>
    </div>
    <h4 class="pb-2">BYO</h4>
    <div class="mb-3">
        <label for="cosyDomain" class="form-label text-light small mb-1">Cosy Domain</label>
        <input type="text" class="form-control bg-dark border-0" id="cosyDomain" placeholder="Cosy domain...">
    </div>
    <div class="mb-3">
        <label for="cosyStart" class="form-label text-light small mb-1">End-point</label>
        <input type="text" class="form-control bg-dark border-0" id="cosyStart" placeholder="Server configurator API...">
    </div>
    <button type="button" class="btn btn-primary" onclick="setConfigCosyJira()" id="validateButtonCosy">
        <i class="fas " id="validateButtonCosyIcon"></i><span>Save</span>
    </button>
</div>
<div class="modal fade" id="jiratokenmodal" tabindex="-1" aria-labelledby="jiratokenmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="jiratokenmodalLabel">Jira Token</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="bg-dark-light rounded-15 p-2">
                    <ol>
                        <li>Open on browser <a onclick="openExternalLink('https://id.atlassian.com/manage-profile/security/api-tokens')" href="https://id.atlassian.com/manage-profile/security/api-tokens">API Tokens</a></li>
                        <li>Click on "Create API token".</li>
                        <li>Choose a Label for the token.</li>
                        <li>Copy your new Token.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>