<div class="d-flex justify-content-between">
    <h2 class="fw-bold mb-0">Confluence</h2>
    <button type="button" class="btn btn-primary btn-sm" onclick="bringConfluenceContentDeployments()"><i class="fas fa-sync-alt"></i></button>
</div>
<hr>
<div class="mx-0" style="height: calc(100vh - 140px); overflow-y: auto;">
    <div >
        <ul class="list-group" id="deployments">
            
        </ul>
    </div>
</div>