<div class="d-flex justify-content-between">
    <h2 class="fw-bold mb-0">Dashboard</h2>
    <button type="button" class="btn btn-primary btn-sm" onclick="getDataFromAtlassian()"><i class="fas fa-sync-alt"></i></button>
</div>
<hr class="mb-1">
<div class="mx-0" style="height: calc(100vh - 140px); overflow-y: auto;">
    <div >
        <ul class="nav nav-pills" id="atlassian-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tickets-tab" data-bs-toggle="tab" data-bs-target="#tickets" type="button"
                    role="tab" aria-controls="tickets" aria-selected="true"><i class="fa-brands fa-jira pe-2"></i> JIRA</button>
            </li>
            <li class="nav-item ms-3" role="presentation">
                <button class="nav-link " id="confluence-tab" data-bs-toggle="tab" data-bs-target="#confluence" type="button" role="tab"
                    aria-controls="confluence" aria-selected="false"><i class="fa-brands fa-confluence pe-2"></i> Confluence</button>
            </li>
        </ul>
        <hr class="my-1">
        <div class="tab-content pt-2" id="atlassianContent-Tabspane">
            <div class="tab-pane fade show active" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
                <div class="d-flex justify-content-start align-items-center my-2 bg-dark rounded-15 p-3">
                    <input type="text" class="form-control form-control-sm bg-dark-light" id="searchTicketsonTable" onkeyup="searchonKeyUpJiraTickets()" placeholder="Search...">
                    <div class="dropdown">
                        <button class="btn btn-dark-light btn-sm dropdown-toggle" type="button" id="jira-status-filter" data-bs-toggle="dropdown" aria-expanded="false">
                            Status: <span id="jira-status-label">All</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="jira-status-filter">
                            <form class="px-2" id="ulJirastatusList-form">
                                <input type="text" id="ulJirastatusList-input" class="form-control form-control-sm bg-dark-light" placeholder="Search...">
                            </form>
                            <ul id="ulJirastatusLis" class="mt-3 px-0 mb-1" style="height: 300px; overflow-y: auto;">
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div style="min-height: calc(100vh - 500px); overflow-y: auto;" class="bg-dark rounded-15">
                    <table class="table table-borderless table-hover table-responsive" id="JiraTable">
                        <thead class="">
                            <tr class="text-light">
                                <th scope="col">Key / Title</th>
                                <th scope="col">Status</th>
                                <th scope="col"><i class="fa-solid fa-arrow-trend-up"></i></th>
                                <th scope="col">Reporter</th>
                                <th scope="col">Ticket</th>
                            </tr>
                            </thead>
                            <tbody id="ticketsRelated" class="text-light"></tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between align-items-center bg-dark rounded-15 p-3 mt-2">
                    <div id="infoJiraTable"></div>
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="d-flex justify-content-start align-items-center me-2">
                            <div id="lengthJiraTable"></div>
                        </div>
                        <div id="paginationJiraTable"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="confluence" role="tabpanel" aria-labelledby="confluence-tab">
                <ul class="list-group" id="deployments">
                    
                </ul>
            </div>
        </div>
    </div>
</div>