<h2 class="fw-bold mb-0">CoSy Images</h2>
<hr>
<div style="height: calc(100vh - 140px);overflow-y: auto;">
    <button type="button" class="btn btn-primary" data-bs-target="#cosyModalBefore" data-bs-toggle="modal">All Cosys</button>
    <div class="d-flex flex-wrap" >
        <div class="card bg-dark p-4 me-3 rounded-15 shadow animate__animated animate__fadeIn mb-3" style="width: 20rem;">
                <div style="min-height: 210px;">
                    <div class="text-center mb-2">
                        <span class="text-light eyebrow-2">CORE MODELS</span>
                    </div>
                    <img role="button" onmouseenter="changeCosyEnter(this,'GN20')" onmouseleave="changeCosyLeave(this,'GN20')" 
                    src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=40" 
                    class="card-img-top" alt="3 Series">
                    <div class="text-center mt-3">
                        <h5 class="fw-bold mb-2">330i Models <i class="fas fa-chevron-right text-primary"></i></h5>
                        <p class="label-2">Starting MSRP $41,450 <i class="far fa-question-circle"></i></p>
                    </div>
                </div>
            <hr>
            <div class="card-body position-relative">
                <h4 class="card-title fw-bold">Model Line Up</h4>
                <h5 class="fw-bold text-light">Standalone Vehicle Tile</h5>
                <p class="card-text text-light">GN20</p>
                <button type="button" class="btn btn-primary btn-sm w-100 mt-3 stretched-link" 
                data-bs-toggle="modal" data-bs-target="#cosyModal" data-bs-type="GN20">
                    <i class="fas fa-external-link-square-alt pe-2"></i> Inspect CoSy
                </button>
            </div>
        </div>
        <div class="card bg-dark p-4 me-3 rounded-15 shadow animate__animated animate__fadeIn mb-3" style="width: 20rem;">
            <div style="min-height: 210px;">
                <div class="text-center mb-2">
                    <span class="text-light eyebrow-2">CORE MODELS</span>
                </div>
                <img role="button" onmouseenter="changeCosyEnter(this,'LN')" onmouseleave="changeCosyLeave(this,'LN')" 
                src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=270" 
                class="card-img-top" alt="3 Series">
                <div class="text-center mt-3">
                    <p class="fw-bold mb-2">330i Models <i class="fas fa-chevron-right text-primary"></i></p>
                </div>
            </div>
            <hr>
            <div class="card-body position-relative">
                <h4 class="card-title fw-bold">Localnav Dropdown</h4>
                <h5 class="fw-bold text-light">Standalone Vehicle Tile</h5>
                <p class="card-text text-light">GN20</p>
                <button type="button" class="btn btn-primary btn-sm w-100 mt-3 stretched-link" 
                data-bs-toggle="modal" data-bs-target="#cosyModal" data-bs-type="LN">
                    <i class="fas fa-external-link-square-alt pe-2"></i> Inspect CoSy
                </button>
            </div>
        </div>
        <div class="card bg-dark p-4 me-3 rounded-15 shadow animate__animated animate__fadeIn mb-3" style="width: 20rem;">
            <div style="min-height: 210px;">
                <div class="text-start">
                    <span class="text-light eyebrow-2 mb-1 hl-light">2022 MODEL YEAR</span>
                    <h4 class="text-light ">330i Sedan</h4>
                </div>
                <img role="button" 
                src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=300" 
                class="card-img-top" alt="3 Series">
                <div class="d-flex justify-content-between py-2 border-dark-light border-top border-bottom mt-2">
                    <div><small class="fw-bold">RWD &nbsp;</small><small class="text-light">Drivetrain</small></div>
                    <div><small class="fw-bold">36 &nbsp;</small><small class="text-light">MPG</small></div>
                    <div><small class="fw-bold">5.6 sec &nbsp;</small><small class="text-light">0-60 MPH</small></div>
                </div>
            </div>
            <hr>
            <div class="card-body position-relative">
                <h4 class="card-title fw-bold">Build Your Own</h4>
                <h5 class="fw-bold text-light">BYO Model Variant Selector</h5>
                <p class="card-text text-light">DC13</p>
                <button type="button" class="btn btn-primary btn-sm w-100 mt-3 stretched-link" 
                data-bs-toggle="modal" data-bs-target="#cosyModal" data-bs-type="DC13">
                    <i class="fas fa-external-link-square-alt pe-2"></i> Inspect CoSy
                </button>
            </div>
        </div>
        <div class="card bg-dark p-4 me-3 rounded-15 shadow animate__animated animate__fadeIn mb-3" style="width: 20rem;">
            <div style="min-height: 210px;">
                <p class="fs-6 mb-1 text-light">330i xDrive Sedans</p>
                <p class="small mb-0 text-light">The 330i models combine..</p>
                <div class="d-flex flex-column justify-content-center mt-2 border-top border-bottom border-dark-light py-2">
                    <img role="button" 
                    src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=270" 
                    class="card-img-top" alt="3 Series">
                </div>
            </div>
            <hr>
            <div class="card-body position-relative">
                <h4 class="card-title fw-bold">BYO List</h4>
                <h5 class="fw-bold text-light">Model Series List</h5>
                <p class="card-text text-light">DC24</p>
                <button type="button" class="btn btn-primary btn-sm w-100 mt-3 stretched-link" 
                data-bs-toggle="modal" data-bs-target="#cosyModal" data-bs-type="DC24">
                    <i class="fas fa-external-link-square-alt pe-2"></i> Inspect CoSy
                </button>
            </div>
        </div>
        <div class="card bg-dark p-4 me-3 rounded-15 shadow animate__animated animate__fadeIn mb-3" style="width: 20rem;">
            <div style="min-height: 210px;">
                <h4 class="text-center">All BMW Models</h4>
                <div class="d-flex flex-column justify-content-center position-relative mt-4 border-top border-bottom border-dark-light py-3">
                    <h1 class="fw-bold mb-0 text-light position-absolute" style="top: 0; left: 13px;">M3</h1>
                    <img role="button" style="z-index: 3;" 
                    src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=22TN&client=byo&paint=P0300&fabric=FLKSW&sa=S01T5,S0302,S0319,S0322,S0430,S0431,S0459,S0493,S0494,S04KK,S0508,S0534,S0544,S05AC,S05AS,S0688,S06AC,S06AK,S06C4,S06U3,S0712,S0760,S0775&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=60" 
                    class="card-img-top" alt="M3">
                    <div class="d-flex justify-content-center mt-2">
                        <small>
                            <span class="fa-stack">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-plus fa-stack-1x"></i>
                        </span>VIEW ALL MODELS</small>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body position-relative">
                <h4 class="card-title fw-bold">All BMWs</h4>
                <h5 class="fw-bold text-light">Model Series Hero</h5>
                <p class="card-text text-light">BM30</p>
                <button type="button" class="btn btn-primary btn-sm w-100 mt-3 stretched-link" 
                data-bs-toggle="modal" data-bs-target="#cosyModal" data-bs-type="BM30">
                    <i class="fas fa-external-link-square-alt pe-2"></i> Inspect CoSy
                </button>
            </div>
        </div>
        <div class="card bg-dark p-4 me-3 rounded-15 shadow animate__animated animate__fadeIn mb-3" style="width: 20rem;">
            <div style="min-height: 210px;">
                <div class="d-flex flex-column justify-content-center mt-1 py-2 bg-dark-light shadow">
                    <img role="button"  
                    src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=22XL&client=byo&paint=P0300&fabric=FMCSW&sa=S01CE,S01SF,S0255,S0302,S0319,S0322,S03MB,S0402,S0420,S0423,S0459,S0481,S0494,S04KM,S04T8,S04UR,S05AC,S05AS,S05AV,S0676,S06AC,S06AK,S06C4,S06U3,S0775,S07HW&quality=hight&bkgnd=transparent&resp=png&width=450&angle=60" 
                    class="card-img-top d-block" alt="M3">
                    <h1 class="text-center my-1">X3</h1>
                </div>
            </div>
            <hr>
            <div class="card-body position-relative">
                <h4 class="card-title fw-bold">Global Nav</h4>
                <h5 class="fw-bold text-light">Vehicle Tile</h5>
                <p class="card-text text-light">GN17</p>
                <button type="button" class="btn btn-primary btn-sm w-100 mt-3 stretched-link" 
                data-bs-toggle="modal" data-bs-target="#cosyModal" data-bs-type="GN17">
                    <i class="fas fa-external-link-square-alt pe-2"></i> Inspect CoSy
                </button>
            </div>
        </div>
        <div class="card bg-dark p-4 me-3 rounded-15 shadow animate__animated animate__fadeIn mb-3" style="width: 20rem;">
            <div style="min-height: 210px;">
                <div class="text-center">
                    <span class="text-light headline-4">EXPLORE THE 3</span>
                </div>
                <img role="button" 
                src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=30" 
                class="card-img-top" alt="3 Series">
                <div class="mt-3 d-flex justify-content-center">
                    <i class="fas fa-circle me-2 p-1" style="border-radius:100%;border:rgb(63, 63, 63) 1px solid;color:rgb(31, 50, 76);"></i>
                    <i class="fas fa-circle me-2 p-1" style="border-radius:100%;border:rgb(63, 63, 63) 1px solid;color:rgb(130, 27, 22);"></i>
                    <i class="fas fa-circle me-2 p-1" style="border-radius:100%;border:rgb(63, 63, 63) 1px solid;color:rgb(149, 145, 144);"></i>
                    <i class="fas fa-circle me-2 p-1" style="border-radius:100%;border:rgb(63, 63, 63) 1px solid;color:rgb(43, 49, 49);"></i>
                    <i class="fas fa-circle me-2 p-1" style="border-radius:100%;border:rgb(63, 63, 63) 1px solid;color:rgb(196, 55, 13);"></i>
                </div>
            </div>
            <hr>
            <div class="card-body position-relative">
                <h4 class="card-title fw-bold">Color Picker</h4>
                <h5 class="fw-bold text-light">Vehicle Studio V2</h5>
                <p class="card-text text-light">DC12</p>
                <button type="button" class="btn btn-primary btn-sm w-100 mt-3 stretched-link" 
                data-bs-toggle="modal" data-bs-target="#cosyModal" data-bs-type="DC12">
                    <i class="fas fa-external-link-square-alt pe-2"></i> Inspect CoSy
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cosyModal" tabindex="-1" aria-labelledby="cosyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content bg-dark-light">
            <div class="modal-header">
                <h5 class="modal-title" id="cosyModalLabel"><i class="fas fa-image pe-2 text-primary"></i> Cosy</h5>
                <button type="button" class="btn-close btn-close-white " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="visually-hidden" id="typeCosyModelSpan"></span>
                <div class="row">
                    <h6 for="naCodeModelTech">NA Code</h6>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-dark border-0" id="icon-addon"><i class="fas fa-file-code text-primary"></i></span>
                        <select class="form-select bg-dark border-0 text-light" id="naCodeModelCosysModal">
                        </select>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="col-8 pe-2">
                        <div class="bg-dark p-3 rounded-15 h-100">
                            <h5>Configurations</h5>
                            <div style="max-height: 400px; overflow-y: auto;">
                                <div id="pathWalkaroundCosyRes">

                                </div>
                                <div id="walkaroundModalCosyResponse">

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-5">
                                    <p class="text-light small mb-1">Colors:</p>
                                    <div id="basicColorsCosyEnd">
                                        
                                    </div>
                                </div>
                                <div class="col-7">
                                    <p class="text-light small mb-1">Preview Model:</p>
                                    <div class="d-flex align-items-end mt-2" id="previewCarImageModalCosy">
                                        
                                    </div>
                                    <div class="d-flex justify-content-center mt-4 flex-wrap" id="previewCarColorsPicker">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="bg-dark p-3 rounded-15 h-100">
                            <h5>Basic Configuration</h5>
                            <div id="basicConfigurationCosyEnd">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cosyModalBefore" tabindex="-1" aria-labelledby="cosyModalBeforeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content bg-dark-light">
            <div class="modal-header">
                <h5 class="modal-title" id="cosyModalBeforeLabel"><i class="fas fa-image pe-2 text-primary"></i> Cosy</h5>
                <button type="button" class="btn-close btn-close-white " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="visually-hidden" id="typeCosyModelSpanbefore"></span>
                <div class="row mx-0 px-2">
                    <h6 for="naCodeModelTech">NA Code</h6>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-dark border-0" id="icon-addon"><i class="fas fa-file-code text-primary"></i></span>
                        <select class="form-select bg-dark border-0 text-light" id="naCodeModelCosysModalBefore">
                        </select>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between w-100">
                    <div class="bg-dark p-3 rounded-15 h-100 w-100">
                        
                        <div class="row mx-0 px-3">
                            <div class="col-3">
                                <h4 class="text-center">Model Line Up</h4>
                                <hr>
                                <div style="min-height: 150px;">
                                    <div class="text-center mb-2">
                                        <span class="text-light eyebrow-2 text-uppercase">Lorem Ipsum</span>
                                    </div>
                                    <div id="imagePreviewconfigMLU">
                                        <img role="button" onmouseenter="changeCosyEnter(this,'GN20')" onmouseleave="changeCosyLeave(this,'GN20')" 
                                        src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=40" 
                                        class="card-img-top" alt="3 Series">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Configuration:</h5>
                                    <div>
                                        <h6>Front: 40</h6>
                                        <h6>Rear: 220</h6>
                                    </div>
                                </div>
                                <div id="configMLU">

                                </div>
                                <div id="colorsPreviewconfigMLU"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 px-3">
                            <div class="col-3">
                                <h4 class="text-center">Localnav</h4>
                                <hr>
                                <div style="min-height: 150px;">
                                    <div class="text-center mb-2">
                                        <span class="text-light eyebrow-2 text-uppercase">Lorem Ipsum</span>
                                    </div>
                                    <div id="imagePreviewconfigLN">
                                        <img role="button" onmouseenter="changeCosyEnter(this,'LN')" onmouseleave="changeCosyLeave(this,'LN')" 
                                        src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=270" 
                                        class="card-img-top" alt="3 Series">
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Configuration:</h5>
                                    <div>
                                        <h6>Side: 270</h6>
                                        <h6>Front: 320</h6>
                                    </div>
                                </div>
                                <div id="configLN">

                                </div>
                                <div id="colorsPreviewconfigLN"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 px-3">
                            <div class="col-3">
                                <h4 class="text-center">Build your own</h4>
                                <hr>
                                <div style="min-height: 150px;">
                                    <div id="imagePreviewconfigBYO">
                                        <img role="button" 
                                        src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=300" 
                                        class="card-img-top" alt="3 Series">
                                    </div>
                                    <div class="d-flex justify-content-between py-2 border-dark-light border-top border-bottom mt-2">
                                        <div><small class="fw-bold">RWD &nbsp;</small><small class="text-light">Drivetrain</small></div>
                                        <div><small class="fw-bold">36 &nbsp;</small><small class="text-light">MPG</small></div>
                                        <div><small class="fw-bold">5.6 sec &nbsp;</small><small class="text-light">0-60 MPH</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <h5>Configuration:</h5>
                                <div id="configBYO">

                                </div>
                                <div id="colorsPreviewconfigBYO"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 px-3">
                            <div class="col-3">
                                <h4 class="text-center">Model Series List</h4>
                                <hr>
                                <div style="min-height: 150px;">
                                    <p class="fs-6 mb-1 text-light">Lorem Ipsum</p>
                                    <p class="small mb-0 text-light">Lorem ipsum dolor sit amet, consecte...</p>
                                    <div class="d-flex flex-column justify-content-center mt-2 border-top border-bottom border-dark-light py-2">
                                        <div id="imagePreviewconfigMSL">
                                            <img role="button" 
                                            src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=223O&client=byo&paint=P0300&fabric=FKHSW&sa=S01T4,S0255,S02TB,S0302,S03MB,S0403,S0430,S0431,S0459,S0465,S0481,S0493,S04KC,S04UR,S0534,S0544,S05A4,S05AC,S05AV,S0676,S06AC,S06AK,S06C4,S06CP,S06U3,S0775,S07AC&date=20210706&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=270" 
                                            class="card-img-top" alt="3 Series">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <h5>Configuration:</h5>
                                <div id="configMSL">

                                </div>
                                <div id="colorsPreviewconfigMSL"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 px-3">
                            <div class="col-3">
                                <h4 class="text-center">All BMWs</h4>
                                <hr>
                                <div style="min-height: 150px;">
                                    <div class="d-flex flex-column justify-content-center position-relative mt-4 border-top border-bottom border-dark-light py-3">
                                        <div id="imagePreviewconfigAllBMWS">
                                            <img role="button" style="z-index: 3;" 
                                            src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=22TN&client=byo&paint=P0300&fabric=FLKSW&sa=S01T5,S0302,S0319,S0322,S0430,S0431,S0459,S0493,S0494,S04KK,S0508,S0534,S0544,S05AC,S05AS,S0688,S06AC,S06AK,S06C4,S06U3,S0712,S0760,S0775&quality=hight&bkgnd=transparent&w=9800&h=8000&x=180&y=800&resp=png&angle=60" 
                                            class="card-img-top" alt="M3">
                                        </div>
                                        <div class="d-flex justify-content-center mt-2">
                                            <small>
                                                <span class="fa-stack">
                                                <i class="far fa-circle fa-stack-2x"></i>
                                                <i class="fas fa-plus fa-stack-1x"></i>
                                            </span>VIEW ALL MODELS</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <h5>Configuration:</h5>
                                <div id="configAllBMWS">

                                </div>
                                <div id="colorsPreviewconfigAllBMWS"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mx-0 px-3">
                            <div class="col-3">
                                <h4 class="text-center">Globalnav</h4>
                                <hr>
                                <div style="min-height: 150px;">
                                    <div class="d-flex flex-column justify-content-center mt-1 py-2 bg-dark-light shadow">
                                        <div id="imagePreviewconfigGL">
                                            <img role="button"  
                                            src="https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=22XL&client=byo&paint=P0300&fabric=FMCSW&sa=S01CE,S01SF,S0255,S0302,S0319,S0322,S03MB,S0402,S0420,S0423,S0459,S0481,S0494,S04KM,S04T8,S04UR,S05AC,S05AS,S05AV,S0676,S06AC,S06AK,S06C4,S06U3,S0775,S07HW&quality=hight&bkgnd=transparent&resp=png&width=450&angle=60" 
                                            class="card-img-top d-block" alt="M3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <h5>Configuration:</h5>
                                <div id="configGL">

                                </div>
                                <div id="colorsPreviewconfigGL"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>