<div class="jiraSearch">
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" 
    data-bs-target="#jiraTicketOffcanvas" aria-controls="jiraTicketOffcanvas"><i class="fab fa-jira text-white"></i></button>
</div>

<div class="offcanvas offcanvas-end bg-dark-light" tabindex="-1" id="jiraTicketOffcanvas" aria-labelledby="jiraTicketOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="jiraTicketOffcanvasLabel">JIRA Ticket</h5>
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="input-group mb-3">
            <span class="input-group-text bg-dark border-0" id="icon-addon"><i class="fab fa-jira text-primary"></i></span>
            <input type="text" class="form-control bg-dark border-0" placeholder="https://virtuelle-welt.atlassian.net/browse/CONT-39224" 
            aria-label="https://virtuelle-welt.atlassian.net/browse/CONT-39224" aria-describedby="icon-addon">
        </div>
        <div class="bg-dark h-100 w-100 rounded-15 p-3">
            <div class="d-flex justify-content-start">
                <h5>Suggestions from ticket:</h5>
            </div>
            <hr>
            <p class="text-light m-0 fw-light small">Version:</p>
            <div class="jiraTicketVersion mb-3">
                
            </div>
            <p class="text-light m-0 fw-light small">Workflow:</p>
            <div class="jiraTicketWorkflow">
                
            </div>
        </div>
    </div>
</div>