<div class="" id="menuTabs">
    <div id="logo" class="d-flex justify-content-start">
        <img src="../img/logo.svg" alt="">
        <div class="d-flex flex-column pt-1 ps-2">
            <h4 class="fw-bold text-white mb-0">Content Automation</h4>
            <small class="text-light mt-1">BMW</small>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-column px-2" style="height:calc(100vh - 134px);">
        <div class="me-3">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link animate__animated animate__fadeInLeft active" id="v-pills-cosy-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cosy"
                    type="button" role="tab" aria-controls="v-pills-cosy" aria-selected="true">
                    <i class="fa-solid fa-image pe-2"></i> CoSy Images
                </button>
                <button class="nav-link animate__animated animate__fadeInLeft" style="animation-delay:0.2s" id="v-pills-maco-tab" data-bs-toggle="pill" data-bs-target="#v-pills-maco"
                    type="button" role="tab" aria-controls="v-pills-maco" aria-selected="false">
                    <i class="fa-solid fa-hashtag pe-2"></i> Offers
                </button>
                <button class="nav-link animate__animated animate__fadeInLeft" style="animation-delay:0.4s" id="v-pills-templates-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-templates" type="button" role="tab" aria-controls="v-pills-templates"
                    aria-selected="false">
                    <i class="fa-solid fa-file-code pe-2"></i> TechSpecs
                </button>
                <button class="nav-link animate__animated animate__fadeInLeft" style="animation-delay:0.6s" id="v-pills-myu-tab" data-bs-toggle="pill" data-bs-target="#v-pills-myu"
                    type="button" role="tab" aria-controls="v-pills-myu" aria-selected="false">
                    <i class="fa-solid fa-sitemap pe-2"></i> Sitemap
                </button>
                <button class="nav-link animate__animated animate__fadeInLeft " style="animation-delay:0.8s" id="v-pills-textEditor-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-textEditor" type="button" role="tab" aria-controls="v-pills-textEditor"
                    aria-selected="true">
                    <i class="fa-solid fa-i-cursor pe-2"></i> Text Editor
                </button>
                <hr>
                <button class="nav-link animate__animated animate__fadeInLeft " style="animation-delay:1s" id="v-pills-confluence-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-confluence" type="button" role="tab" aria-controls="v-pills-confluence"
                    aria-selected="true">
                    <i class="fa-brands fa-confluence pe-2"></i> Confluence
                </button>
                
                <button class="nav-link animate__animated animate__fadeInLeft " style="animation-delay:1.2s" id="v-pills-myconfig-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-myconfig" type="button" role="tab" aria-controls="v-pills-myconfig"
                    aria-selected="true">
                    <i class="fa-solid fa-gears pe-2"></i> Settings
                </button>
            </div>
        </div>
        <div class="mt-auto">
            <hr>
            <div class="d-flex justify-content-start">
                <div class="jiraSearch">
                    <button class="btn btn-primary btn-sm btn-cls" type="button" data-bs-toggle="offcanvas" 
                    data-bs-target="#jiraTicketOffcanvas" aria-controls="jiraTicketOffcanvas"><i class="fa-brands fa-jira text-white"></i></button>
                </div>                      
            </div>
        </div>
    </div>
</div>