<h2 class="fw-bold mb-0">Offers</h2>
<hr class="mb-1">
<ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="urls-tab" data-bs-toggle="tab" data-bs-target="#urls" type="button"
            role="tab" aria-controls="urls" aria-selected="true"><i class="fas fa-link pe-2"></i> MACO Regions</button>
    </li>
    <li class="nav-item ms-3" role="presentation">
        <button class="nav-link disabled" id="names-tab" data-bs-toggle="tab" data-bs-target="#names" type="button" role="tab"
            aria-controls="names" aria-selected="false"><i class="fas fa-retweet pe-2"></i> Cookied Homepage</button>
    </li>
</ul>
<hr class="my-1">
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="urls" role="tabpanel" aria-labelledby="urls-tab">
        <div class="position-absolute" style="top: 15px; right: 1rem;">
            <button type="button" class="btn btn-primary btn-sm rounded-15" data-bs-toggle="modal" data-bs-target="#offersProcess">
                <i class="fas fa-question-circle"></i>
            </button>
        </div>
        <div class="d-flex flex-column pt-2 mb-5" id="macosURLs" style="overflow-y: auto; height: calc(100vh - 200px);">
            <div id="macourl-central" class="">
                <div class="d-flex justify-content-between pb-2 align-items-center">
                    <h4 class="mb-0">Central Region</h4>
                    <div class="d-flex align-items-end">
                        <p class="mb-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseCentral"
                            aria-expanded="false" aria-controls="collapseCentral">
                            Links <i class="fas fa-angle-right"></i>
                        </p>
                        <div style="min-height: 47px;">
                            <div class="collapse collapse-horizontal show" id="collapseCentral">
                                <div class="d-flex justify-content-end" style="width: 232px;">
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Staging</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#central-OffersLinks-Staging" ><i class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('central','s')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Prod</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#central-OffersLinks-Prod" ><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('central','p')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Live</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#central-OffersLinks-Live"  ><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('central','l')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="macourl-east" class="py-3 mt-3 border-top">
                <div class="d-flex justify-content-between pb-2 align-items-center">
                    <h4 class="mb-0">Eastern Region</h4>
                    <div class="d-flex align-items-end">
                        <p class="mb-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseEastern"
                            aria-expanded="false" aria-controls="collapseEastern">
                            Links <i class="fas fa-angle-right"></i>
                        </p>
                        <div style="min-height: 47px;">
                            <div class="collapse collapse-horizontal show" id="collapseEastern">
                                <div class="d-flex justify-content-end" style="width: 232px;">
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Staging</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#east-OffersLinks-Staging"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('east','s')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Prod</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#east-OffersLinks-Prod"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('east','p')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Live</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#east-OffersLinks-Live"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('east','l')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="macourl-west" class="py-3 mt-3 border-top">
                <div class="d-flex justify-content-between pb-2 align-items-center">
                    <h4 class="mb-0">Western Region</h4>
                    <div class="d-flex align-items-end">
                        <p class="mb-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseWestern"
                            aria-expanded="false" aria-controls="collapseWestern">
                            Links <i class="fas fa-angle-right"></i>
                        </p>
                        <div style="min-height: 47px;">
                            <div class="collapse collapse-horizontal show" id="collapseWestern">
                                <div class="d-flex justify-content-end" style="width: 232px;">
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Staging</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#west-OffersLinks-Staging"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('west','s')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Prod</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#west-OffersLinks-Prod"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('west','p')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Live</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#west-OffersLinks-Live"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('west','l')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="macourl-south" class="py-3 mt-3 border-top">
                <div class="d-flex justify-content-between pb-2 align-items-center">
                    <h4 class="mb-0">Southern Region</h4>
                    <div class="d-flex align-items-end">
                        <p class="mb-0" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSouthern"
                            aria-expanded="false" aria-controls="collapseSouthern">
                            Links <i class="fas fa-angle-right"></i>
                        </p>
                        <div style="min-height: 47px;">
                            <div class="collapse collapse-horizontal show" id="collapseSouthern">
                                <div class="d-flex justify-content-end" style="width: 232px;">
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Staging</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#south-OffersLinks-Staging"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('south','s')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Prod</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#south-OffersLinks-Prod"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('south','p')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-start ms-3">
                                        <small class="fst-italic mb-1">Live</small>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn no-shadow btn-primary btn-sm btn-to-clip" 
                                            data-clipboard-target="#south-OffersLinks-Live"><i
                                                    class="far fa-copy"></i></button>
                                            <button type="button" class="btn no-shadow btn-primary btn-sm"
                                                onclick="openMacoLinks('south','l')"><i
                                                    class="fab fa-safari"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="central-OffersLinks-Staging" style="font-size:3px;"></div>
        <div id="central-OffersLinks-Prod" style="font-size:3px;"></div>
        <div id="central-OffersLinks-Live" style="font-size:3px;"></div>
        
        <div id="east-OffersLinks-Staging" style="font-size:3px;"></div>
        <div id="east-OffersLinks-Prod" style="font-size:3px;"></div>
        <div id="east-OffersLinks-Live" style="font-size:3px;"></div>
        
        <div id="west-OffersLinks-Staging" style="font-size:3px;"></div>
        <div id="west-OffersLinks-Prod" style="font-size:3px;"></div>
        <div id="west-OffersLinks-Live" style="font-size:3px;"></div>
        
        <div id="south-OffersLinks-Staging" style="font-size:3px;"></div>
        <div id="south-OffersLinks-Prod" style="font-size:3px;"></div>
        <div id="south-OffersLinks-Live" style="font-size:3px;"></div>
        
    </div>
    <div class="tab-pane fade" id="names" role="tabpanel" aria-labelledby="names-tab"
        style="overflow-y: auto; height: calc(100vh - 200px);">
            <div class="bg-dark rounded-15 p-3">
                <div class="">
                    <input type="file" placeholder="Priority Sheet..." class="form-control bg-dark-light" 
                     id="prioritySheetInputFile">
                </div>
            </div>
    </div>
</div>
<div class="modal fade" id="regionURLs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="regionURLsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="regionURLsLabel"><i class="fas fa-globe pe-2 text-primary"></i> URLs by Region</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills mb-3 d-flex justify-content-around" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-central-region-modal-tab" data-bs-toggle="pill" data-bs-target="#pills-central-region-modal" 
                      type="button" role="tab" aria-controls="pills-central-region-modal" aria-selected="true">Central Region</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-east-region-modal-tab" data-bs-toggle="pill" data-bs-target="#pills-east-region-modal" 
                      type="button" role="tab" aria-controls="pills-east-region-modal" aria-selected="false">Eastern Region</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-western-region-modal-tab" data-bs-toggle="pill" data-bs-target="#pills-western-region-modal" 
                      type="button" role="tab" aria-controls="pills-western-region-modal" aria-selected="false">Western Region</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-south-region-modal-tab" data-bs-toggle="pill" data-bs-target="#pills-south-region-modal" 
                      type="button" role="tab" aria-controls="pills-south-region-modal" aria-selected="false">Southern Region</button>
                    </li>
                </ul>
                <div class="tab-content rounded-15 bg-dark-light" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-central-region-modal" role="tabpanel" aria-labelledby="pills-central-region-modal-tab">
                        <div class="px-3 pt-1 py-3" id="macosModalurl-central">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-east-region-modal" role="tabpanel" aria-labelledby="pills-east-region-modal-tab">
                        <div class="px-3 pt-1 py-3" id="macosModalurl-east">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-western-region-modal" role="tabpanel" aria-labelledby="pills-western-region-modal-tab">
                        <div class="px-3 pt-1 py-3" id="macosModalurl-west">
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-south-region-modal" role="tabpanel" aria-labelledby="pills-south-region-modal-tab">
                        <div class="px-3 pt-1 py-3" id="macosModalurl-south">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="offersProcess" data-bs-keyboard="false" 
tabindex="-1" aria-labelledby="offersProcessLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="offersProcessLabel"><i class="fas fa-question-circle pe-2 text-light"></i> MACO Offers Automation</h4>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="d-flex justify-content-start align-items-end">
                    <a class="btn btn-primary btn-sm" role="button"
                        onclick="openExternalLink('https://virtuelle-welt.atlassian.net/wiki/spaces/BMW/pages/257426215/Homepage%2BFMAs%2B-%2BContent%2BProcess')"><i
                            class="fab fa-confluence pe-1"></i> Confluence page</a>
                </div>
                <hr>
                
                <ol class="bg-dark-light py-2 rounded-15 mx-0 text-light">
                    <li class="my-2 ">Upload the <i class="far fa-file-excel text-success"></i> Priority Sheet
                        to the <a class="link-primary" role="button" 
                        onclick="openExternalLink('https://author.staging.bmwusacm.co/assets.html/content/dam/bmwusa/maco-offers-automation')">Priority
                            Sheets DAM Folder</a></li>
                    <li class="my-2 ">Click the <b>Start Workflow</b> button, and choose <b>"BMW - MACO Offers
                            Automation"</b></li>
                    <li class="my-2 ">Wait 2-5 min until you can see the changes on the <a class="link-primary" role="button" 
                        onclick="openExternalLink('https://author.staging.bmwusacm.co/content/Content/t2-offers-preview-page.html')">HomePage
                            Preview</a></li>
                    <li class="my-2 ">Open the <a class="link-primary" role="button" 
                        onclick="openExternalLink('https://author.staging.bmwusacm.co/libs/cq/workflow/content/console.html')">Console</a> to start
                        the following Workflows</li>
                    <li class="my-2 ">Start a <b><u>BMW Content Tree Activation</u></b> workflow for: <button
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Copy" role="button"
                            class="btn btn-to-clip btn-light text-dark btn-xs" 
                            data-clipboard-text="/content/experience-fragments/bmw/personalization/homepage/primary-fmas"><b>/content/experience-fragments/bmw/personalization/homepage/primary-fmas</b></button>
                        and name it<sup>1</sup></li>
                    <li class="my-2 ">Start a <b><u>BMW Content Tree Activation</u></b> workflow for: <button
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Copy" role="button" 
                            class="btn btn-to-clip btn-light text-dark btn-xs" 
                            data-clipboard-text="/content/experience-fragments/bmw/personalization/homepage/homepage-fmas"><b>/content/experience-fragments/bmw/personalization/homepage/homepage-fmas</b></button>
                        and name it<sup>1</sup></li>
                    <li class="my-2 ">Wait until the changes are reflected in <a
                            onclick="openExternalLink('https://www.staging.bmwusacm.co/')" role="button" 
                            href="https://www.staging.bmwusacm.co"></a></li>
                    <li class="my-2 ">Check Every MACO on each region</li>
                </ol>
                <!-- <div class="bg-dark-light rounded-15 mt-2 mb-4 p-3">
                    <h5 class="mb-0">DAM sheet:</h5>
                    <a class="mb-2" role="button" 
                        onclick="openExternalLink('https://author.staging.bmwusacm.co/assets.html/content/dam/bmwusa/maco-offers-automation')">Priority
                        Sheet DAM folder</a>
                    <h5 class="mb-0">Homepage Preview:</h5>
                    <a class="mb-2" role="button" onclick="openExternalLink('https://author.staging.bmwusacm.co/content/Content/t2-offers-preview-page.html')">MACO's
                        Homepage Preview</a>
                    <h5 class="mb-0">Author Console</h5>
                    <a class="mb-2" role="button" onclick="openExternalLink('https://author.staging.bmwusacm.co/libs/cq/workflow/content/console.html')">Author
                        Console</a>
                </div> -->
                <div class="bg-dark-light rounded-15 mt-2 mb-4 p-3 text-muted">
                    <p class="mb-0 small"><sup>1</sup> The naming convention for these type of workflows should be:</p>
                    <p class="mb-0 small">Your CONT tickets for each region: <u>central, eastern, western, southern</u> + 
                    <u>month year</u> + <u>T1 and T2</u> + 
                    <u>fmas/carousel</u></p>
                </div>
                

                <!-- <div class="alert alert-warning bg-warning animate__animated animate__fadeInDown animate_delay_t1" role="alert">
                    <i class="fas fa-exclamation-triangle text-dark"></i> The ticket validation should be approved by QA to upload the Sheet. <br>
                </div>
                <div class="alert alert-warning bg-warning animate__animated animate__fadeInDown animate_delay_t2" role="alert">
                    <i class="fas fa-exclamation-triangle text-dark"></i> You need confirmation by a PM to upload the sheet. <br>
                </div>
                <div class="alert alert-warning bg-warning animate__animated animate__fadeInDown animate_delay_t3" role="alert">
                    <i class="fas fa-exclamation-triangle text-dark"></i> This process may be not immediate.
                </div> -->
            </div>
        </div>
    </div>
</div>
