<h2 class="fw-bold mb-0">Sitemap</h2>
<hr>
<div style="height: calc(100vh - 140px); overflow-y: auto;">
    <div class="d-flex flex-column">
        <div>
            
        </div>
        <div class="mt-auto">
            <span class="small">
                <span id="sitemap_totalSites"></span> pages found.
            </span>
        </div>
    </div>
</div>