<h2 class="fw-bold mb-0">Standard Features & Specifications</h2>
<hr>
<ul class="nav nav-pills mb-3" id="pills-tab-techspecs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-standardFeatures-tab" data-bs-toggle="pill" data-bs-target="#pills-standardFeatures" 
        type="button" role="tab" aria-controls="pills-standardFeatures" aria-selected="true"><i class="fas fa-file-code pe-2"></i> Standard Features</button>
    </li>
    <li class="nav-item ms-4" role="presentation">
        <button class="nav-link " id="pills-specifications-tab" data-bs-toggle="pill" data-bs-target="#pills-specifications" 
        type="button" role="tab" aria-controls="pills-specifications" aria-selected="false"><i class="fas fa-qrcode pe-2"></i> Specifications</button>
    </li>
</ul>
<div class="tab-content" id="pills-tab-techspecsContent">
    <div class="tab-pane fade " id="pills-specifications" role="tabpanel" aria-labelledby="pills-specifications-tab">
        <div class="bg-dark rounded-15 p-3">
            <div style="width: 400px;">
                <h5 for="specsInputList">NA Code</h5>
                <input class="form-control bg-dark-light" list="specsDataListNACodes" id="specsInputList" placeholder="Type to search...">
                <datalist id="specsDataListNACodes"></datalist>
            </div>
        </div>
        <div class="bg-dark rounded-15 p-3 mt-2 position-relative" id="canvasBGTechspecs" style="overflow-y: auto; height: calc(100vh - 320px);">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-sm btn-primary" onclick="formatTechSpecs()"
                ><i class="fa-solid fa-table-columns"></i> Format</button>
                <button class="btn btn-sm btn-danger rounded-circle" id="missingBtnTech" style="display: none;" 
                type="button" onclick="toggleOffCanvas()"><i class="fa-solid fa-triangle-exclamation"></i></button>
            </div>
            <hr>
            <div id="techSpecsfromNaCode">
                
            </div>
            <div id="offcanvasBg"></div>
            <div class="offcanvas-custom-end animate__faster" tabindex="-1" id="offcanvasMissingValues" aria-labelledby="offcanvasMissingValuesLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasMissingValuesLabel">Missing Values:</h5>
                    <button type="button" class="btn-close btn-close-white" onclick="closeOffCavas()" aria-label="Close"></button>
                </div>
                <hr class="mt-0 mb-1 mx-3">
                <div class="offcanvas-body">
                    <div id="techSpecsfromNaCodeEmptyValues">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show active" id="pills-standardFeatures" role="tabpanel" aria-labelledby="pills-standardFeatures-tab">
        <div class="bg-dark rounded-15 p-3">
            <div style="width: 400px;">
                <h5 for="featuresInputList">NA Code</h5>
                <input class="form-control bg-dark-light" list="featuresDataListNACodes" id="featuresInputList" placeholder="Type to search...">
                <datalist id="featuresDataListNACodes"></datalist>
            </div>
        </div>
        <div class="bg-dark rounded-15 p-3 mt-2 position-relative" style="overflow-y: auto; height: calc(100vh - 320px);">
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-sm btn-primary" onclick="formatFeatures()"
                ><i class="fa-solid fa-table-columns"></i> Format</button>
            </div>
            <hr>
            <div id="featuresfromNaCode">
                
            </div>
        </div>
    </div>
</div>