$primary:#4659e4;
$secondary:#F2CC39;
$success:#28a745;
$info:#3076f8;
$warning:#fdb00c;
$danger:#eb4a5a;
$danger-light:#f5b8b8;
$light:#cfcece;
$dark:#1A1A1A;
$dark-light:#242424;
$white:#fff;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "dark-light": $dark-light
);

$list-group-color: white;
$list-group-bg: $dark;

$table-cell-padding-y-sm: .15rem;
$table-cell-padding-x-sm: .15rem;
$table-hover-color: $light;
$table-hover-bg-factor: .075;
$table-hover-bg: rgba($dark-light, $table-hover-bg-factor);

$pagination-padding-y: .2rem;
$pagination-padding-x: .65rem;

$pagination-bg: $dark-light;
$pagination-border-width:0;
$pagination-border-color: transparent;

$pagination-disabled-bg: $dark;

body{
    background-color: $dark !important;
    color: white !important;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.7rem !important;
}
h3{
    font-size: 1.5rem !important;
}
h4{
    font-size: 1.3rem !important;
}
h5{
    font-size: 1.1rem !important;
}
h6{
    font-size: 0.9rem !important;
}

small{
    font-size: 0.5rem !important;
}
.table-custom{
    color: #ffffff !important;
    tr{
        border: none !important;
        th{
            font-size: 13px !important;
        }
        td{
            font-size: 12px !important;
        }
    }
}
.label-2{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .25px;
}

.eyebrow-2{
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 2px;
}
.headline-4{
    line-height: 48px;
    letter-spacing: -.1px;
}
.hl::after{
    content: '______';
    margin-left: 5px;
    color:$dark;
    border-bottom: $primary 1px solid;
    width: 50px;
}
.hl-light::after{
    content: '______';
    margin-left: 5px;
    color:$dark;
    border-bottom: $light 1px solid;
    width: 50px;
}
.imagePreview{
    transition: all .5s;
}
.zoomPreview{
    transform: scale(2.5) translateX(140px) translateY(-30px);
}
::placeholder {
    font-size: 12px;
}
.textHoverAria{
    transition: all .5s;
    .ariaText{
        transition: all .5s;
    }
    &:hover{
        transition: all .5s;
        
    }
}
.form-control, .form-select{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    color:$light !important;
    &:focus{
        color:rgb(255, 255, 255) !important;
    }
}
.rounded-15{
    border-radius: 15px !important;
}

.small{
    font-size: 11px !important;
}
#wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#menuTabs{
    width: 325px;
    padding: 20px 2rem 0 2rem;
}
#mainContent{
    width: calc(100% - 325px);
    height: 100vh;
    padding: 20px 20px 20px 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    box-shadow: 0 4px 15px 0 rgba(70, 89, 228, 0.2) !important;
    border-radius: 10px !important;
    width: 100%;
}
.nav-pills .nav-link {
    color: $light;
    text-align: left !important;
    margin: 12px 0;
    font-size: 0.9rem !important;
    border-radius: 10px !important;
}
.jiraSearch{
    z-index: 10;
}
.btn-cls{
    background-color: $primary;
    color: white;
    border-radius: 15px !important;
    padding: 5px;
    width: 40px;
    height: 40px;
}
#ticketJiraWarning{
    background-color:rgba(20, 20, 20, 0.6);
    left: 0;
    z-index: 99999999999;
}
.carModelSelect{
    border-radius: 0 !important;
    transition: all .5s;
    background-color: $dark-light !important;
    padding: 0.4rem;
    &:hover{
        box-shadow: 0 4px 15px 1px rgba(22, 22, 22, 0.4) !important;
        background-color: #333333 !important;
        transition: all .5s;
    }
    &.hover{
        box-shadow: 0 4px 15px 1px rgba(22, 22, 22, 0.4) !important;
        background-color: #333333 !important;
        transition: all .5s;
    }
}
.modelsAfterSelectedP{
    top: 0;
    left: 0;
    transition: all .5s;
}
#modelsAfterSelected{
    width: 350px;
    height: 100%;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.4) !important;
    transition: all .5s;
    position: relative;
    border-radius: 15px !important;
}
.bg-modelSelect{
    background-color: $dark-light !important;
    // backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.accordion-button{
    color:$primary !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    background-color: $dark !important;
    &:focus{
        box-shadow: none !important;
        outline: none !important;
        border: none !important;
    }
    &::after{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233f50cd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    }
}
.accordion-item{
    background-color: transparent !important;
}
.accordion-flush .accordion-item .accordion-button {
    border-radius: 0 !important;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0 !important;
}
.accordion-body{
    padding: 1rem 0.5rem !important;
}

.alert-warning{
    border: none !important;
    font-size: 14px;
}
.animate_delay_t1{
    animation-delay:0.2s;
}
  
.animate_delay_t2{
    animation-delay:0.7s;
}
  
.animate_delay_t3{
    animation-delay:1.2s;
}
  
.animate_delay_t4{
    animation-delay:1.7s;
}
.alert{
    &.alert-default{
        background-color: $dark-light !important;
        border-radius: 5px !important;
        border: none !important;
        padding: 0 !important;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4) !important;
        .alert-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &.alert-type-danger{
            div div .alert-title{
                background-color: $danger-light !important;
                color: $danger;
                padding: 0.8rem 1.2rem !important;
            }
        }
    }
    div div .alert-body{
        padding: 1rem !important;
        color: $light !important;
    }
    &.alert-dismissible{
        padding: 0 !important;
    }
}
// ! --------------------------- Buttons ---------------------------------

.btn-primary{
    box-shadow: none !important;
    outline: none !important;
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }
}
.btn-success{
    box-shadow: none !important;
    outline: none !important;
    color: #ffffff !important;
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }
}
.btn-danger{
    box-shadow: none !important;
    outline: none !important;
    color:white !important;
    font-weight: 600 !important;
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }
}
.btn-outline-primary{
    &:focus, &:active, &:hover, &:visited, &:link, &:active{
        box-shadow: none !important;
        outline: none !important;
    }
}
.btn-xs, .btn-group-xs > .btn {
    padding: 0.1rem 0.2rem !important;
    font-size: 0.650rem !important;
    border-radius: 0.2rem !important;
}
.no-shadow{
    box-shadow: none !important;
}
.btn-check:checked + .btn-outline-primary-cus{
    background-color: $primary;
    color:$light;
    box-shadow: 0 3px 7px 0 rgba(70, 89, 228, 0.2) !important;
    font-weight: bold;
}
.btn-check:not(:checked) + .btn-outline-primary-cus{
    background-color: $light;
    color:$dark;
    font-weight: bold;
    &:hover{
        background-color: $warning;
    }
}
.btn-undeline-primary{
    background-color: transparent !important;
    border-bottom: 1px solid $primary !important;
    color: $primary !important;
    border-radius: 0px !important;
    &:hover, &:focus{
        color: $white !important;
    }
}
.btn-undeline-light{
    background-color: transparent !important;
    border-bottom: 1px solid $success !important;
    color: $success !important;
    border-radius: 0px !important;
    &:hover, &:focus{
        color: $white !important;
    }
}
.btn-transparent{
    box-shadow: none !important;
    &.text-primary{
        box-shadow: none !important;
        &:hover, &:focus, &:active{
            box-shadow: none !important;
            background-color: $primary !important;
            color: $white !important;
        }
    }
    &.text-danger{
        box-shadow: none !important;
        &:hover, &:focus, &:active{
            box-shadow: none !important;
            background-color: $danger !important;
            color: $white !important;
        }
    }
}
// ! ---------------------- nav --------------------

// ! ---------------------- Modals --------------------

$modal-content-color: white;
$modal-content-bg: $dark;
$modal-content-border-color: none;
$modal-content-border-width: 0;
$modal-fade-transform: scaleY(.01) scaleX(0);


.card-nacode{
    background-color: $dark !important;
    width: 100px !important;
    min-height:80px !important;
    transition: all .5s;
    &:hover{
        background-color: $primary !important;
        transition: all .5s;
    }
}

.drop-target {
    border: 5px solid $primary;
}

.drag-drop.can-drop {
    background-color: $primary;
}
.btn-dark-light{
    &:focus{
        box-shadow: none !important;
    }
}
.form-select{
    &:focus{
        box-shadow: none !important;
    }
}

// ! ------- aditional --------
.curtain{
    background-color: #0e0e0e;
    transition: all 0.8s cubic-bezier(1, 0, 1, 1);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    transform: translate(-100%, -150%);
    &.active{
        transform: translate(0, 0);
    }
}
.hoverImageIcon{
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: rgba(70, 89, 228, 0.08) 0px 0px 20px 3px, 
    }
}
.pagination{
    margin-bottom: 0 !important;
}