$primary:#4659e4;
$secondary:#FF9500;
$success:#28a745;
$info:#5BC7FA;
$warning:#f0bc4d;
$danger:#dc3545;
$light:#cfcece;
$dark:#1A1A1A;
$dark-light:#242424;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "dark-light": $dark-light
);

$list-group-color: white;
$list-group-bg: $dark;

body{
    background-color: $dark !important;
    color: white !important;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.7rem !important;
}
h3{
    font-size: 1.5rem !important;
}
h4{
    font-size: 1.3rem !important;
}
h5{
    font-size: 1.1rem !important;
}
h6{
    font-size: 0.9rem !important;
}

small{
    font-size: 0.5rem !important;
}
.hl::after{
    content: '______';
    margin-left: 5px;
    color:$dark;
    border-bottom: $primary 1px solid;
    width: 50px;
}
::placeholder {
    font-size: 12px;
}

.form-control{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    color:$light !important;
    &:focus{
        color:white !important;
    }
}
.rounded-15{
    border-radius: 15px !important;
}

.small{
    font-size: 0.7rem !important;
}
#wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#menuTabs{
    width: 325px;
    padding: 20px 2rem 0 2rem;
}
#mainContent{
    width: calc(100% - 325px);
    height: 100vh;
    padding: 20px 20px 20px 0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    box-shadow: 0 4px 15px 0 rgba(70, 89, 228,.40) !important;
    border-radius: 10px !important;
    width: 100%;
    
}
.nav-pills .nav-link {
    color: $light;
    text-align: left !important;
    margin: 12px 0;
    font-size: 0.9rem !important;
    border-radius: 10px !important;
}
.jiraSearch{
    position:absolute;
    top:10px;
    right:10px;
    z-index: 9;
}
.carModelSelect{
    border-radius: 0 !important;
    transition: all .5s;
    background-color: $dark-light !important;
    padding: 0.4rem;
    &:hover{
        box-shadow: 0 4px 15px 1px rgba(22, 22, 22, 0.4) !important;
        background-color: #333333 !important;
        transition: all .5s;
    }
    &.hover{
        box-shadow: 0 4px 15px 1px rgba(22, 22, 22, 0.4) !important;
        background-color: #333333 !important;
        transition: all .5s;
    }
}
.modelsAfterSelectedP{
    top: 0;
    left: 0;
    transition: all .5s;
}
#modelsAfterSelected{
    width: 350px;
    height: 100%;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.4) !important;
    transition: all .5s;
    position: relative;
    border-radius: 15px !important;
}
.bg-modelSelect{
    background-color: $dark-light !important;
    // backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.accordion-button{
    color:$primary !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    background-color: $dark !important;
    &:focus{
        box-shadow: none !important;
        outline: none !important;
        border: none !important;
    }
    &::after{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233f50cd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    }
}
.accordion-item{
    background-color: transparent !important;
}
.accordion-flush .accordion-item .accordion-button {
    border-radius: 0 !important;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0 !important;
}
.accordion-body{
    padding: 1rem 0.5rem !important;
}

.alert-warning{
    border: none !important;
    font-size: 14px;
}
.animate_delay_t1{
    animation-delay:0.2s;
  }
  
  .animate_delay_t2{
    animation-delay:0.7s;
  }
  
  .animate_delay_t3{
    animation-delay:1.2s;
  }
  
  .animate_delay_t4{
    animation-delay:1.7s;
  }
// ! Buttons

.btn-primary{
    box-shadow: 0 4px 15px 0 rgba(70, 89, 228,.40) !important;
    outline: none !important;
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }
}
.btn-success{
    box-shadow: 0 4px 15px 0 rgba(70, 228, 131, 0.4) !important;
    outline: none !important;
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }
}
.btn-danger{
    box-shadow: 0 4px 15px 0 rgba(228, 70, 70, 0.4) !important;
    outline: none !important;
    color:white !important;
    font-weight: 600 !important;
    &:focus{
        box-shadow: none !important;
        outline: none !important;
    }
}
.btn-xs, .btn-group-xs > .btn {
    padding: 0.1rem 0.2rem !important;
    font-size: 0.650rem !important;
    border-radius: 0.2rem !important;
}
.no-shadow{
    box-shadow: none !important;
}

// ! ---------------------- nav --------------------

// ! ---------------------- Modals --------------------

$modal-content-color: white;
$modal-content-bg: $dark;
$modal-content-border-color: none;
$modal-content-border-width: 0;
$modal-fade-transform: scaleY(.01) scaleX(0);


.card-nacode{
    background-color: $dark !important;
    width: 100px !important;
    min-height:80px !important;
    transition: all .5s;
    &:hover{
        background-color: $primary !important;
        transition: all .5s;
    }
}

.drop-target {
    border: 5px solid $primary;
}

.drag-drop.can-drop {
    background-color: $primary;
}