<div class="jiraSearch col-md-4">
    <h3>JIRA Ticket</h3>
    <div class="input-group mb-3">
        <span class="input-group-text bg-dark border-0" id="icon-addon"><i class="fab fa-jira text-primary"></i></span>
        <input type="text" class="form-control bg-dark border-0" placeholder="https://virtuelle-welt.atlassian.net/browse/CONT-39224" 
        aria-label="https://virtuelle-welt.atlassian.net/browse/CONT-39224" aria-describedby="icon-addon">
    </div>
    <div class="bg-dark h-100 w-100 rounded-15 p-3">
        <div class="d-flex justify-content-start">
            <h5>Suggestions from ticket:</h5>
        </div>
        <hr>
        <p class="text-light m-0 fw-light small">Version:</p>
        <div class="jiraTicketVersion mb-3">
            
        </div>
        <p class="text-light m-0 fw-light small">Workflow:</p>
        <div class="jiraTicketWorkflow">
            
        </div>
    </div>
</div>